<nav class="main-navigation">
  <ul>
    <li>
      <a href="#" class="root">
        <b>Projekte</b> Was wir tun
      </a>
      <ul class="dropdown">
        <li><a href="/aktuelles/">Aktuelles</a></li>
        <li><a href="/activities/">Activities</a></li>
        <li><a href="/projekte/">Projekte</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="root">
        <b>Über Uns</b> Lernen Sie uns kennen
      </a>
      <ul class="dropdown">
        <li><a href="/der-lions-club/">Der Lions Club</a></li>
        <li><a href="/vorstand/">Vorstand</a></li>
        <li><a href="/presseberichte/">Presseberichte</a></li>
        <li><a href="/archiv/">Archiv</a></li>
        <li><a href="/links/">Links</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="root">
        <b>Kontakt</b> Schreiben Sie uns
      </a>
      <ul class="dropdown">
        <li><a href="/kontakt/">Formular</a></li>
        <li><a href="/impressum/">Impressum</a></li>
      </ul>
    </li>
  </ul>
</nav>