<nav class="main-navigation">
  <ul class="items">
    <li class="item">
      <a href="/projekte/" class="link is-root">
        <b class="title">Projekte</b>
        <span class="subtitle">Was wir tun</span>
      </a>
      <div class="dropdown">
        <div class="container">
          <ul class="items">
            <li><a class="link" href="/projekte/aktuelles/">Aktuelle Neuigkeiten</a></li>
            <li><a class="link" href="/projekte/activities/">Unsere Activities</a></li>
            <li><a class="link" href="/projekte/langfristige-projekte/">Langfristige Projekte</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item">
      <a href="#" class="link is-root">
        <b class="title">Über Uns</b>
        <span class="subtitle">Lernen Sie uns kennen</span>
      </a>
      <div class="dropdown">
        <div class="container">
          <ul class="items">
            <li><a class="link" href="/der-lions-club/">Der Lions Club</a></li>
            <li><a class="link" href="/vorstand/">Vorstand</a></li>
            <li><a class="link" href="/presseberichte/">Presseberichte</a></li>
            <li><a class="link" href="/archiv/">Archiv</a></li>
            <li><a class="link" href="/links/">Links</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item">
      <a href="#" class="link is-root">
        <b class="title">Kontakt</b>
        <span class="subtitle">Schreiben Sie uns</span>
      </a>
      <div class="dropdown">
        <div class="container">
          <ul class="items">
            <li><a class="link" href="/kontakt/">Nachricht schreiben</a></li>
            <li><a class="link" href="/impressum/">Impressum</a></li>
            <li><a class="link" href="/datenschutz/">Datenschutz</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>