.main-navigation {
  margin-right: auto;

  .items {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
  }

  .item {
    display: flex;
    height: $header-height;
    align-items: center;

    &:hover > .dropdown,
    &:focus > .dropdown {
      display: block;
    }

    &:hover > .is-root::after,
    &:focus > .is-root::after {
      width: 100%;
    }
  }
  
  .link {
    color: $black;
    margin-right: 2rem;

    &.is-root {
      position: relative;
      display: block;

      &::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 0%;
        background-color: $blue;
        bottom: -10px;
        left: 0;
        transition: width .2s ease-out;
      }
    }
  }

  .title {
    display: block;
    margin-bottom: -3px;
  }

  .subtitle {
    font-size: 80%;
  }

  .dropdown {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;
    background-color: $white;

    .items {
      padding: 3rem 0 3rem calc(80px + 3rem);
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}