.post-wrapper {
  background-color: $dark-blue;
  padding-top: 3rem;

  .heading {
    color: white;
    margin-top: 0;
    position: relative;

    &::after {
      content: "";
      width: 60px;
      height: 3px;
      background-color: $yellow;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }
}

.post-preview {
  background-color: $white;
  padding: 1rem;
  margin: 1rem .5rem;
  flex-basis: calc(33.33334% - 1rem);

  .thumbnail {
    margin-bottom: -23px;
  }

  .image {
    height: 250px;
    object-fit: cover;
  }

  .category {
    display: block;
    padding: 0 10px;
    font-weight: 600;
    clip-path: polygon(0px 0px, 0px 100%, 90% 100%, 100% 0px);
    height: 40px;
    line-height: 40px;
    width: 70%;


    &.is-aktuelles {
      background-color: $green;
      color: $black;
    }
    
    &.is-projekte {
      background-color: $light-blue;
      color: $black;
    }
    
    &.is-activities {
      background-color: $purple;
      color: $white;
    }
  }

  .date {
    color: $gray;
    font-weight: 600;
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    margin-top: 1rem;
  }

  .title {
    color: $dark-blue;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
  }
  
  .excerpt {
    color: $black;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.post-content {
  .date {
    display: block;
    margin: 1rem 0 3rem;
  }

  .thumbnail {
    margin-left: -11rem;
    margin-bottom: 3rem;
  }

  .content {
    max-width: 70%;
    font-size: 20px;
    margin-bottom: 2rem;

    ul, ol {
      font-weight: 300;
    }

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .image {
      height: 160px;
      width: 250px;
      object-fit: cover;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}