body {
  font: 400 16px/1.4 $font-sans;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-size: 30px;
  line-height: 1;
}

h3 {
  font-size: 22px;
  line-height: 1.2;
}

p {
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}