// Colors
$yellow: #EBB700;
$blue: #00338D;
$light-blue: #407CCA;
$gray: #55565A;
$white: #FFFFFF;
$black: #000000;
$background: #F6F6F6;

// Fonts
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Dimensions
$header-height: 100px;